<% content_for(:title) do %>
  Edit <%= resource_name.to_s.humanize %>
<% end %>

<div class="govuk-grid-row govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0 govuk-!-margin-bottom-5">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <%= link_to 'Home', admin_root_url, class: 'govuk-back-link' %>
        </li>
      </ol>
    </div>

    <header class="main-content__header govuk-!-padding-left-0 govuk-!-border-0" role="banner">
      <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-1" id="page-title">
        <%= content_for(:title) %>
      </h1>
    </header>

    <section class="main-content__body main-content__body--flush">
      <fieldset class="govuk-fieldset govuk-!-margin-left-0">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= render 'devise/shared/flash_messages' %>

          <div class="govuk-form-group">
            <h2 class="govuk-heading-m"><%= resource.email %></h2>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="govuk-form-group">
            <%= f.label :password, t('admin.admin_users.password_and_hint'), class: 'govuk-label' %>
            <% if @minimum_password_length %>
              <div class="govuk-hint"><%= t('devise.passwords.format', length: @minimum_password_length) %></div>
            <% end %>
            <%= f.password_field :password, autocomplete: 'new-password', class: 'govuk-input' %>
            <% if f.object.errors[:password].present? %>
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> <%= f.object.errors[:password].map(&:capitalize).join(', ') %>
              </span>
            <% end %>
          </div>

          <div class="govuk-form-group">
            <%= f.label :password_confirmation, t('admin.admin_users.password_confirmation'), class: 'govuk-label' %>
            <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'govuk-input' %>
            <% if f.object.errors[:password_confirmation].present? %>
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> <%= f.object.errors[:password_confirmation].map(&:capitalize).join(', ') %>
              </span>
            <% end %>
          </div>

          <div class="govuk-form-group">
            <%= f.label :current_password, t('admin.admin_users.current_password'), class: 'govuk-label' %>
            <div class="govuk-hint"><%= t('admin.admin_users.current_password_hint') %></div>
            <%= f.password_field :current_password, autocomplete: 'current-password', class: 'govuk-input' %>
            <% if f.object.errors[:current_password].present? %>
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> <%= f.object.errors[:current_password].map(&:capitalize).join(', ') %>
              </span>
            <% end %>
          </div>

          <div class="form-actions govuk--form-actions">
            <%= f.button type: :submit, class: %w[govuk-button] %>
            <%= link_to 'Cancel', [:admin, resource], class: %w[govuk-button govuk-button--secondary] %>
          </div>
        <% end %>
      </fieldset>
    </section>
  </div>
</div>
