<%= content_for :additional_links do %>
  <%= stylesheet_pack_tag 'loader' %>
  <%= javascript_pack_tag 'sort' %>
  <%= javascript_pack_tag 'filter' %>
  <%= javascript_pack_tag 'collapsible' %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render 'results_filters' %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <%= render 'results_header' %>
    <% if @exact_matches.any? -%>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body">
            <%= t('helpers.page_entries_info.one_page.display_entries.exact_match', count: @results.total_count) %>
          </p>
        </div>
      </div>
    <%- else -%>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body">
            <%= t('helpers.page_entries_info.one_page.display_entries.no_exact_match') %>
          </p>
        </div>
      </div>
    <%- end %>
    <% if @results.any? -%>
      <%= render 'pagination' %>
      <%= render partial: "result", collection: @results %>
      <%= render 'pagination' %>
    <%- else -%>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body">
            <%= t('helpers.page_entries_info.one_page.display_entries.zero') %>
          </p>
        </div>
      </div>
    <%- end %>
  </div>
</div>
