<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-filters">
    <div>
      <h3 class="govuk-heading-s">
        Categories
      </h3>
      <div class="govuk-checkboxes govuk-checkboxes-small collapsible">
        <% @categories.each do |element| %>
          <% category = element[:category] %>
          <div class="govuk-checkboxes__item">
            <%= check_box_tag 'filter[category_id][]', category.id, params.dig(:filter, :category_id)&.include?(category.id),
              id: "category_id-#{category.id}", class: 'govuk-checkboxes__input', disabled: !element[:active] %>
            <%= label_tag "category_id-#{category.id}", category.name, class: %w[govuk-label govuk-checkboxes__label] %>
          </div>
        <% end %>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div>
      <h3 class="govuk-heading-s">
        Years
      </h3>
      <div class="govuk-checkboxes govuk-checkboxes-small collapsible">
        <% @years.each do |element| %>
          <% year = element[:year] %>
          <div class="govuk-checkboxes__item">
            <%= check_box_tag 'filter[years][]', year, params.dig(:filter, :years)&.include?(year.to_s),
              id: "years-#{year}", class: 'govuk-checkboxes__input', disabled: !element[:active] %>
            <%= label_tag "years-#{year}", academic_year(year), class: %w[govuk-label govuk-checkboxes__label] %>
          </div>
        <% end %>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div>
      <h3 class="govuk-heading-s">
        Data Set
      </h3>
      <div class="govuk-checkboxes govuk-checkboxes-small collapsible">
        <% @tabs.each do |element| %>
          <% tab = element[:tab] %>
          <div class="govuk-checkboxes__item">
            <%= check_box_tag 'filter[tab_name][]', tab, params.dig(:filter, :tab_name)&.include?(tab),
              id: "tab_name-#{tab}", class: 'govuk-checkboxes__input', disabled: !element[:active] %>
            <%= label_tag "tab_name-#{tab}", tab, class: %w[govuk-label govuk-checkboxes__label] %>
          </div>
        <% end %>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>
