<%= content_for :additional_links do %>
  <%= javascript_pack_tag 'sort' %>
  <%= javascript_pack_tag 'collapsible' %>
<%- end %>


<% if @results.count.positive? %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render 'results_filters' %>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= render 'results_header' %>
      <%= render 'pagination' %>
      <%= render partial: "result", collection: @results %>
      <%= render 'pagination' %>
    </div>
  </div>

<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render 'results_header'%>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body">
            <%= t('helpers.page_entries_info.one_page.display_entries.zero') %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
