<% content_for(:title) do %>
  <%= @title %>
<% end %>

<header role="banner" class="govuk-!-margin-top-7">
  <p class="govuk-caption-xl">
    <%= t('admin.data_tables.import.title') %>
  </p>
  <h1 class="govuk-heading-xl main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>
  <div class="govuk-grid-row govuk-!-margin-0">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-left-0 govuk-!-padding-left-0">
      <p class="govuk-!-font-size-19">
        <%= @description %>
      </p>
    </div>
  </div>
</header>

<fieldset class="govuk-fieldset govuk-!-margin-0" role="group">

  <div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
      <ul class="govuk-list govuk-list--bullet">
        <% tabs.each do |tab| -%>
          <li>
            <%= tab %>
          </td>
        <%- end %>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3 govuk-!-margin-bottom-5">
      <%= link_to t('admin.data_tables.import.cancelled.continue'),
                  :import_admin_import_datasets,
                  class: %i[govuk-!-font-size-19] %>
    </div>
  </div>
</fieldset>
