<p class="govuk-heading-s govuk-top-border govuk-!-padding-top-4">
  <%= t('actions.title') %>
</p>

<div class="govuk-checkboxes govuk-checkboxes--small">
  <div class="govuk-checkboxes__item">
    <%= check_box_tag 'data_element[]', @data_element.title, false,
      id: "data-element-#{@data_element.id}", class: %w[govuk-checkboxes__input basket-checkbox],
      data: { id: @data_element.id, name: @data_element.source_attribute_name,
              table: @data_element.source_table_name, datasets: @data_element.datasets.pluck(:tab_name),
              unique_alias: @data_element.unique_alias, origin: "/data_element/#{@data_element.id}" } %>
            <%= label_tag "data-element-#{@data_element.id}", class: %w[govuk-label govuk-checkboxes__label] do %>
              <%= tag.span @data_element.title, class: %w[govuk-checkboxes__label-hidden] %>
              <%= tag.span class: %w[govuk-checkboxes__label-visible] do -%>
                <%= t('data_elements.add_to') %>
                <%= tag.strong t('saved_data.my_list.title') %>
              <%- end %>
            <% end %>
  </div>
</div>
