<div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2" id="page-header">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-<%= size %> govuk-!-margin-bottom-0">
      <%= @title %>
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render partial: 'shared/saved_data_panel' unless saved_items_page? %>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    <p class="description"><%= @description&.html_safe %></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render partial: 'shared/transient_data_warning' if saved_items_page? %>
  </div>
</div>
