<div class="npd-basket-modal-overlay npd-modal-overlay hidden">
  <div class="npd-basket-modal npd-modal hidden" role="dialog" aria-labelledby="npd-basket-modal-title" tabindex="-1">

    <div class="npd-basket-modal-content npd-modal-content govuk-!-margin-4" role="document">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l" id="npd-basket-modal-title"><%= t('saved_data.modal_title') %></h2>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full how-to-access govuk-!-padding-top-4 govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s"><%= t('saved_data.copy_title') %></h2>

          <p class="govuk-panel__body govuk-!-font-size-16"><%= t('saved_data.copy_instructions') %></p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s">Names</h2>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
          <a href="" id="remove-all" class="right govuk-!-font-size-14 govuk-!-padding-1 govuk-!-margin-bottom-1">Remove all</a>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
          <ul class="npd-saved-items govuk-list" id="savedData">
            <li id="npd-saved-item-template" class="govuk-!-font-size-16 npd-saved-item hidden">
              <a class="item-name" href=""></a>
              <a href="" class="item-remove right govuk-button govuk-!-font-size-14 govuk-!-padding-1 govuk-!-margin-bottom-1">Remove</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-top-8" id="copyButton">
        <div class="govuk-grid-column-full">
          <button id="copy-to-clipboard" class="copy govuk-button govuk-!-margin-bottom-1 right" data-module="govuk-button">
            Copy all to clipboard
          </button>
        </div>
      </div>

      <div class="govuk-grid-row npd-copy-success-container invisible">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
          <div class="npd-copy-success govuk-!-margin-bottom-1 govuk-!-margin-top-2">
            <h2 class="govuk-heading-s"><%= t('saved_data.copy_success_title') %></h2>
            <p class="govuk-!-font-size-16"><%= t('saved_data.copy_success') %></p>
          </div>
        </div>
      </div>
    </div>

    <button class="close-modal right">
      <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="close" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M22.0909091,15.6563271 L31.1818182,24.7472362 C31.7272727,25.2926907 32,25.959357 32,26.7472362 C32,27.5351155 31.7272727,28.2320842 31.1818182,28.8381453 L29.1818182,30.8381453 C28.5757571,31.3835998 27.8787883,31.6563271 27.0909091,31.6563271 C26.3030298,31.6563271 25.6363636,31.3835998 25.0909091,30.8381453 L16,21.7472362 L6.90909091,30.8381453 C6.36363636,31.3835998 5.69697016,31.6563271 4.90909091,31.6563271 C4.12121166,31.6563271 3.42424289,31.3835998 2.81818182,30.8381453 L0.818181818,28.8381453 C0.272727273,28.2320842 0,27.5351155 0,26.7472362 C0,25.959357 0.272727273,25.2926907 0.818181818,24.7472362 L9.90909091,15.6563271 L0.818181818,6.56541802 C0.272727273,6.01996348 0,5.35329727 0,4.56541802 C0,3.77753877 0.272727273,3.08057 0.818181818,2.47450893 L2.81818182,0.474508932 C3.42424289,-0.0709456138 4.12121166,-0.343672886 4.90909091,-0.343672886 C5.69697016,-0.343672886 6.36363636,-0.0709456138 6.90909091,0.474508932 L16,9.56541802 L25.0909091,0.474508932 C25.6363636,-0.0709456138 26.3030298,-0.343672886 27.0909091,-0.343672886 C27.8787883,-0.343672886 28.5757571,-0.0709456138 29.1818182,0.474508932 L31.1818182,2.47450893 C31.7272727,3.08057 32,3.77753877 32,4.56541802 C32,5.35329727 31.7272727,6.01996348 31.1818182,6.56541802 L22.0909091,15.6563271 Z"
              id="ï€" fill="#0B0C0C" fill-rule="nonzero"></path>
        </g>
      </svg>
    </button>
  </div>
</div>

