<div class="govuk-!-margin-top-3">
  <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-0 flex-pagination">
    <h2 class="govuk-heading-m" id="page-subtitle"><%= t('admin.admin_users.active') %></h2>
    <span class="page-entries-info"><%= page_entries_info resources.active %></span>
  </div>
  <table aria-labelledby="<%= table_title %>">
    <thead>
      <tr class="govuk-!-border-none">
        <th class="govuk-!-width-two-fifths"></th>
        <th class="govuk-!-width-one-fifth"></th>
        <th class="govuk-!-width-two-fifths"></th>
      </tr>
    </thead>
    <tbody>
      <% resources.active.each do |resource| %>
        <%= render 'admin/admin_users/resource', resource: resource, collection_presenter: collection_presenter %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="govuk-!-margin-top-7">
  <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-0 flex-pagination">
    <h2 class="govuk-heading-m" id="page-subtitle"><%= t('admin.admin_users.inactive') %></h2>
    <span class="page-entries-info"><%= page_entries_info resources.inactive %></span>
  </div>
  <table aria-labelledby="<%= table_title %>-inactive">
    <thead>
      <tr class="govuk-!-border-none">
        <th class="govuk-!-width-two-fifths"></th>
        <th class="govuk-!-width-one-fifth"></th>
        <th class="govuk-!-wihth-two-fifths"></td>
      </tr>
    </thead>
    <tbody>
      <% resources.inactive.each do |resource| %>
        <%= render 'admin/admin_users/resource', resource: resource, collection_presenter: collection_presenter %>
      <% end %>
    </tbody>
  </table>
</div>
