<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="govuk-form-group">
    <% if page.resource.persisted? -%>
      <h2 class="govuk-heading-m"><%= page.resource.email %></h2>
    <%- else -%>
      <%= f.label :email, t('admin.admin_users.email'), class: 'govuk-label' %>
      <%= f.text_field :email, autocomplete: 'new-email', class: 'govuk-input' %>
    <%- end %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :password, t('admin.admin_users.password_and_hint'), class: 'govuk-label' %>
    <% if @minimum_password_length %>
      <div class="govuk-hint"><%= t('devise.passwords.format', length: @minimum_password_length) %></div>
    <% end %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'govuk-input' %>
    <% if f.object.errors[:password].present? %>
      <span class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <%= f.object.errors[:password].map(&:capitalize).join(', ') %>
      </span>
    <% end %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :password_confirmation, t('admin.admin_users.password_confirmation'), class: 'govuk-label' %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'govuk-input' %>
    <% if f.object.errors[:password_confirmation].present? %>
      <span class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <%= f.object.errors[:password_confirmation].map(&:capitalize).join(', ') %>
      </span>
    <% end %>
  </div>

  <div class="govuk-form-group">
    <%= f.label :current_password, t('admin.admin_users.current_password'), class: 'govuk-label' %>
    <div class="govuk-hint"><%= t('admin.admin_users.current_password_hint') %></div>
    <%= f.password_field :current_password, autocomplete: 'current-password', class: 'govuk-input' %>
    <% if f.object.errors[:current_password].present? %>
      <span class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <%= f.object.errors[:current_password].map(&:capitalize).join(', ') %>
      </span>
    <% end %>
  </div>

  <div class="form-actions govuk--form-actions">
    <%= f.button type: :submit, class: %w[govuk-button] %>
    <%= link_to 'Cancel', [:admin, page.resource], class: %w[govuk-button govuk-button--secondary] %>
  </div>
<% end %>
