<% content_for(:title) do %>
  <%= t('admin.concepts.titles.childless') %>
<% end %>

<%= render 'shared/admin/header' %>

<section class="main-content__body main-content__body--flush">
  <div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0 govuk-!-margin-bottom-5">
      <% if resources.any? -%>
        <%= render 'shared/admin/flexible_pagination', resources: resources %>

        <%= render(
          "collection",
          collection_presenter: page,
          collection_field_name: resource_name,
          page: page,
          resources: resources,
          table_title: "page-title"
        ) %>

        <%= render 'shared/admin/flexible_pagination', resources: resources %>
      <%- else -%>
        <p><%= t('admin.concepts.no_childless_concepts') %></p>
      <%- end %>
    </div>
  </div>
</section>
