<% content_for(:title) do %>
  Log in
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<fieldset class="govuk-fieldset govuk-grid-row govuk-!-margin-2">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>
      <%= render 'devise/shared/flash_messages' %>

      <div class="govuk-form-group">
        <%= f.label :email, class: 'govuk-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'govuk-input' %>
        <% if f.object.errors[:email].present? %>
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= f.object.errors[:email].map(&:capitalize).join(', ') %>
          </span>
        <% end %>
      </div>

      <div class="govuk-form-group">
        <%= f.label :password, class: 'govuk-label' %>
        <%= f.password_field :password, autocomplete: 'current-password', class: 'govuk-input' %>
        <% if f.object.errors[:password].present? %>
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= f.object.errors[:password].map(&:capitalize).join(', ') %>
          </span>
        <% end %>
      </div>

      <div class="govuk-form-group actions">
        <%= f.submit 'Log in', class: 'govuk-button' %>
      </div>
    <% end %>
  </div>
</fieldset>
