<% content_for(:title) do %>
  <%= t('admin.home.title') %>
<% end %>

<%= render 'shared/admin/header' %>

<section class="main-content__body main-content__body--flush">
  <div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
        <%= t('admin.home.menu.categories.title') %>
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <%= link_to t('admin.home.menu.categories.links.sort'), %i[admin categories] %>
        </li>
        <li>
          <%= link_to t('admin.home.menu.categories.links.childless_categories'),
            %i[childless admin categories] %>
        </li>
        <li>
          <%= link_to t('admin.home.menu.categories.links.childless_concepts'),
            %i[childless admin concepts] %>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
        <%= t('admin.home.menu.data_items.title') %>
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <%= link_to t('admin.home.menu.data_items.links.all'), %i[admin data_elements] %>
        </li>
        <li>
          <%= link_to t('admin.home.menu.data_items.links.orphaned'),
            %i[orphaned admin data_elements] %>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
        <%= t('admin.home.menu.datasets.title') %>
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <%= link_to t('admin.home.menu.datasets.links.all'), %i[admin datasets] %>
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
        <%= t('admin.home.menu.import_export.title') %>
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <%= link_to t('admin.home.menu.import_export.links.recent'), %i[admin uploads] %>
        </li>
        <li>
          <%= link_to t('admin.home.menu.import_export.links.import_data_tables'),
            %i[import admin import_datasets] %>
        </li>
        <li>
          <%= link_to t('admin.home.menu.import_export.links.import_ia_file'),
            %i[import admin categories] %>
        </li>
        <li>
          <%= link_to t('admin.home.menu.import_export.links.export_ia_file'),
            %i[export admin categories] %>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
        <%= t('admin.home.menu.admin.title') %>
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <%= link_to t('admin.home.menu.admin.links.users'), %i[admin admin_users] %>
        </li>
        <li>
          <%= link_to t('admin.home.menu.admin.links.search_index'),
            %i[reindex admin data_elements] %>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2"></div>
  </div>
</div>
