<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s">
      <%= t('concepts.show.sensitivity.label') %>
      <span class="tooltip">
        <a href="#8" class="help" aria-describedby="data-tip" title="Help">?</a>
        <span class="visuallyhidden tooltip-content tooltip-top-left" role="tooltip" id="data-tip">
          <%= t('concepts.show.sensitivity.tooltip') %>
        </span>
      </span>
    </h2>
    <p>
      <%= @concept.data_elements.map(&:sensitivity).compact.min %>
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s">
      <%= t('concepts.show.identifiability.label') %>
      <span class="tooltip">
        <a href="#8" class="help" aria-describedby="data-tip" title="Help">?</a>
        <span class="visuallyhidden tooltip-content tooltip-top-left" role="tooltip" id="data-tip">
          <%= t('concepts.show.identifiability.tooltip') %>
        </span>
      </span>
    </h2>
    <p>
      <%= @concept.data_elements.map(&:identifiability).compact.min %>
    </p>
  </div>
</div>
