<tr class="govuk-table__row">
  <th class="govuk-table__header" scope="row">
    <%= data_element_row.source_table_name %>.<%= data_element_row.source_attribute_name %>
  </th>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= [data_element_row.source_old_attribute_name].join(', ') %>
  </td>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= academic_year(data_element_row.academic_year_collected_from) %>
    to
    <%= academic_year(data_element_row.academic_year_collected_to) %>
  </td>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= data_element_row&.collection_terms&.map { |t| academic_term(t) }&.join(', ') %>
  </td>
  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= data_element_row.values %>
  </td>
</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-background__gray-4 govuk-!-font-size-14" colspan="6">
    <%= data_element_row.description %>
  </td>
</tr>
