<%= content_for :additional_tags do %>
  <%= javascript_pack_tag 'overlay' %>
  <%= javascript_pack_tag 'basket' %>
  <%= javascript_pack_tag 'check_all' %>
  <%= javascript_pack_tag 'sticky' %>
<%- end %>

<%= render partial: 'concept_aggregate_data' %>

<%= render 'shared/save_to_metadata' %>

<div class="govuk-grid-row govuk-!-margin-top-0">
  <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-!-font-size-16">
      <caption class="govuk-table__caption govuk-!-font-size-24">Data elements</caption>
      <thead class="govuk-table__head">
        <%= render partial: 'shared/data_element_head' %>
      </thead>
      <tbody class="govuk-table__body">
        <%= render partial: 'data_element_row', collection: @concept.data_elements %>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-column-full govuk-!-padding-0">
  <div class="govuk-body-s govuk-!-margin-0 govuk-!-padding-bottom-0">
    <%= t('concepts.show.data_table.cant_find_what_youre_looking_for') %>
    <%= link_to(t('concepts.show.data_table.download'),
                Rails.application.credentials.dig(Rails.env.to_sym, :google_data_tables_form),
                data: { outgoing_link: true,
                        outgoing_page: 'Download the latest version of the Data Tables' } ) %>
  </div>
</div>
