<%= content_for :additional_links do %>
  <%= javascript_pack_tag 'overlay' %>
  <%= javascript_pack_tag 'basket' %>
<%- end %>

<%= content_for :messages do %>
  <%= render how_to_access(@concept) %>
<%- end %>

<%= render partial: 'concept_aggregate_data' %>

<%= render 'shared/save_to_metadata' %>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-!-font-size-16">
      <caption class="govuk-table__caption govuk-!-font-size-24">Data elements</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            <div class="govuk-checkboxes govuk-checkboxes--small fixed-checkbox">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="select-all" name="selectAll" type="checkbox" value="all">
                <label class="govuk-label govuk-checkboxes__label" for="all"></label>
                <%= check_box_tag 'data_element[]', 'all', false,
                  id: 'data-element-all', class: %w[govuk-checkboxes__input basket-checkbox-all] %>
                <%= label_tag 'data-element-all', class: %w[govuk-label govuk-checkboxes__label] do %>
                  &nbsp;
                  <%= tag.span 'All', class: %w[govuk-checkboxes__label-hidden] %>
                <% end %>
              </div>
            </div>
          </th>
          <th data-label="Name" class="govuk-table__header" scope="col">Name</th>
          <th data-label="Old name" class="govuk-table__header govuk-table__header--numeric" scope="col">Old name</th>
          <th data-label="Date collected" class="govuk-table__header govuk-table__header--numeric" scope="col">Date collected</th>
          <th data-label="Sensitivity" class="govuk-table__header govuk-table__header--numeric" scope="col">
            <%= t('concepts.show.sensitivity.label') %>
            <%= render 'tooltip',
              label: t('concepts.show.sensitivity.label'),
              id: 'sensitivity-tip',
              tooltip: t('concepts.show.sensitivity.tooltip') %>
          </th>
          <th data-label="Identification risk" class="govuk-table__header govuk-table__header--numeric" scope="col">
            <%= t('concepts.show.identifiability.label') %>
            <%= render 'tooltip',
              label: t('concepts.show.identifiability.label'),
              id: 'identifiability-tip',
              tooltip: t('concepts.show.identifiability.tooltip') %>
          </th>
          <th data-label="Value" class="govuk-table__header govuk-table__header--numeric" scope="col">Values</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <%= render partial: "data_element_row", collection: @concept.data_elements %>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-column-full govuk-!-padding-0">
  <div class="govuk-body-s govuk-!-margin-0 govuk-!-padding-bottom-0">
    <%= t('concepts.show.data_table.cant_find_what_youre_looking_for') %>
    <%= link_to(t('concepts.show.data_table.download'),
                Rails.application.credentials.dig(Rails.env.to_sym, :google_data_tables_form),
                data: { outgoing_link: true,
                        outgoing_page: 'Download the latest version of the Data Tables' } ) %>
  </div>
</div>
