<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= @concept.name %>
    </h1>

    <p><%= @concept.description || @concept.placeholder_description %></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-column-full how-to-access govuk-!-padding-top-4">
      <h2 class="govuk-heading-s"><%= t('concepts.show.accessing.title') %></h2>

      <p class="govuk-!-font-size-16">
        <%= t(
          'concepts.show.accessing.how_to_access',
          link: link_to(t('concepts.show.accessing.link'), 'https://www.gov.uk/guidance/how-to-access-department-for-education-dfe-data-extracts')
        ).html_safe %>
      </p>
      <p class="govuk-!-font-size-16"><%= t('concepts.show.accessing.guidance') %></p>
    </div>
  </div>
</div>

<%= render partial: "concept_aggregate_data" %>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-!-font-size-16">
      <caption class="govuk-table__caption govuk-!-font-size-24">Data elements</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Old name</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Date collected</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Collection term</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Educational phase</th>
          <th class="govuk-table__header govuk-table__header--numeric" scope="col">Values</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <%= render partial: "data_element_row", collection: @concept.data_elements %>
      </tbody>
    </table>
  </div>
</div>
