<div class="govuk-!-margin-bottom-9 govuk-!-margin-top-5">
  <h2 id="page-subtitle" class="govuk-!-margin-bottom-3"><%= t('admin.uploads.data_tables') %></h2>
  <table aria-labelledby="data_table_uploads">
    <%= render 'thead' %>
    <%= render 'tbody', resources: @data_table_uploads %>
  </table>
</div>

<div class="govuk-!-margin-bottom-9 govuk-!-margin-top-5">
  <h2 id="page-subtitle" class="govuk-!-margin-bottom-3"><%= t('admin.uploads.information_architecture') %></h2>
  <table aria-labelledby="inf_arch_uploads">
    <%= render 'thead' %>
    <%= render 'tbody', resources: @inf_arch_uploads %>
  </table>
</div>
