<% content_for(:title) do %>
  <%= t('administrate.actions.edit_resource', name: page.page_title) %>
<% end %>

<div class="govuk-grid-row govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0 govuk-!-margin-bottom-5">
    <%= render 'shared/admin/header' %>

    <section class="main-content__body main-content__body--flush">
      <%= render 'form', page: page %>
    </section>
  </div>

  <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
    <div class="govuk-top-border">
      <p class="govuk-heading-s govuk-!-font-size-19 govuk-!-padding-top-4">
        <%= t('actions.actions') %>
      </p>
      <p class="govuk-!-padding-0 govuk-!-margin-bottom-1">
        <%= link_to(
          t('actions.destroy', name: page.resource.class.name),
          [:delete_confirmation, :admin, :categories, id: page.resource.id],
          class: 'govuk-button govuk-button--warning'
        ) if show_action? :destroy, page.resource %>
      </p>
    </div>
  </div>
</div>
