<% content_for(:title) do %>
  Reset Categories and Concepts from an Excel Architecture Information Table
<% end %>

<% content_for(:additional_tags) do %>
  <%= stylesheet_pack_tag 'loader' %>
  <%= javascript_pack_tag 'loader' %>
  <%= javascript_pack_tag 'category_upload' %>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<fieldset class="govuk-fieldset govuk-!-margin-2" aria-describedby="upload-file-hint upload-file-error" role="group">
  <%= render partial: 'import_form', locals: { success: success, errors: errors } %>
</fieldset>
