<% content_for(:title) do %>
  <%= t('admin.categories.import.title') %>
<% end %>

<% content_for(:additional_tags) do %>
  <%= stylesheet_pack_tag 'loader' %>
  <%= javascript_pack_tag 'loader' %>
  <%= javascript_pack_tag 'category_upload' %>
<% end %>

<%= render 'shared/admin/header' %>

<fieldset class="govuk-fieldset govuk-!-margin-0" aria-describedby="upload-file-hint upload-file-error" role="group">
  <%= render partial: 'import_form', locals: { success: success, errors: errors } %>
</fieldset>
<div id="govuk-box-container">
  <h2 class="govuk-heading-l govuk-align-center"><%= t('admin.categories.export.creating').html_safe %></h2>
  <div class="govuk-box govuk-!-margin-3" id="govuk-box-message" aria-busy="true"></div>
</div>
