<% content_for(:title) do %>
  <%= t('admin.categories.titles.sort') %>
<% end %>

<% content_for(:additional_tags) do %>
  <%= stylesheet_pack_tag 'loader' %>
  <%= stylesheet_pack_tag 'nest' %>
  <%= javascript_pack_tag 'loader' %>
  <%= javascript_pack_tag 'nest' %>
<% end %>

<div class="govuk-grid-row govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
    <%= render 'shared/admin/header' %>

    <section id="nestable" class="main-content__body main-content__body--flush">
      <% if @categories.present? %>
        <div id="tree_nodes" class="dd" data-update-path="<%= sort_admin_categories_path %>">
          <div class="legend govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <span class="legend-entry"><span class="legend-icon legend-icon-grey">&nbsp;</span>Categories</span>
            <span class="legend-entry"><span class="legend-icon legend-icon-yellow">&nbsp;</span>Concepts</span>
          </div>
          <div class="govuk-box govuk-!-margin-3" id="govuk-box-message" aria-busy="true"></div>

          <div id="tree-container">
          </div>

        </div>
      <% else %>
        <h3 class="no-categories">There are currently no categories.</h3>
      <% end %>
    </section>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
    <div class="govuk-top-border govuk-border-bottom">
      <p class="govuk-heading-s govuk-!-font-size-19 govuk-!-padding-top-4">
        <%= t('actions.filters') %>
      </p>
      <div class="govuk-form-group govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="expand-categories" name="expand-categories" type="checkbox" required="true">
          <label class="govuk-label govuk-checkboxes__label govuk-!-margin-left-5 govuk-!-padding-top-0" for="expand-categories">
            <%= t('admin.categories.actions.expand_all') %>
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="expand-concepts" name="expand-concepts" type="checkbox" required="true">
          <label class="govuk-label govuk-checkboxes__label govuk-!-margin-left-5 govuk-!-padding-top-0" for="expand-concepts">
            <%= t('admin.concepts.actions.expand_all') %>
          </label>
        </div>
      </div>
    </div>
    <div class="govuk-border-bottom">
      <p class="govuk-heading-s govuk-!-font-size-19 govuk-!-padding-top-4">
        <%= t('actions.actions') %>
      </p>
      <p class="govuk-!-padding-0 govuk-!-margin-bottom-1">
        <%= link_to(t('admin.categories.actions.create'),
                    [:new, :admin, :category],
                    class: %w[govuk-!-margin-bottom-1]
                   ) if valid_action?(:new) && show_action?(:new, Category.new) %>
      </p>
      <p class="govuk-!-padding-0 govuk-!-margin-bottom-1">
        <%= link_to(t('admin.concepts.actions.create'),
                    [:new, :admin, :concept],
                    class: %w[govuk-!-margin-bottom-1]
                   ) if valid_action?(:new) && show_action?(:new, Concept.new) %>
      </p>
    </div>
    <div>
      <div>
        <p class="govuk-heading-s govuk-!-font-size-19 govuk-!-padding-top-4">
        <%= t('actions.change_log') %>
        </p>
      </div>
      <div>
        <ul class="govuk-list govuk-list--bullet changelog" data-changes-log>
        </ul>
      </div>
      <div class="govuk-form-group govuk-checkboxes govuk-checkboxes--small">
        <span id="confirm-error" class="govuk-error-message" style="display: none">
          <span class="govuk-visually-hidden">Error:</span> Please confirm that the changes have been reviewed and approved
        </span>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="changes-approved" name="changes-approved" type="checkbox" required="true">
          <label class="govuk-label govuk-checkboxes__label govuk-!-margin-left-5 govuk-!-padding-top-0" for="organisation">
            <%= t('forms.changes_approved') %>
          </label>
        </div>
      </div>
      <div>
        <button type="submit" class="govuk-button" id="confirm-changes"
                                                   data-confirm-changes data-validate="#changes-approved"><%= t('forms.confirm') %></button>
        <button type="submit" class="govuk-button govuk-button--secondary" id="cancel-changes"
                                                                           data-cancel-changes><%= t('forms.cancel') %></button>
      </div>
    </div>
  </div>
</div>
