<tr class="govuk-table__row" role="link" data-url="/admin/data_elements/<%= data_element.id %>">
  <td class="govuk-table__header govuk-!-padding-left-0" scope="col">
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <%= check_box_tag 'data_elements[]', data_element.id, false,
          id: "data-element-#{data_element.id}",
          class: %w[govuk-checkboxes__input basket-checkbox check-all-target],
          data: { save_to_local_storage: 'orphanedDataElementsList' } %>
        <%= label_tag "data-element-#{data_element.id}", class: %w[govuk-label govuk-checkboxes__label] do %>
          <%= tag.span data_element.title, class: %w[govuk-checkboxes__label-hidden] %>
        <% end %>
      </div>
    </div>
  </td>
  <td data-label="Data element" class="govuk-table__cell">
    <%= link_to [data_element.unique_alias].join(', '),
                [:admin, data_element],
                { class: 'action-show' } %>
  </td>
  <td data-label="Datasets" class="govuk-table__cell right">
    <%= data_element.datasets.map do |dataset| -%>
        <%= link_to dataset.name,
                    [:admin, dataset],
                    { class: 'action-show' } %>
    <%- end.join('<br />') %>
  </td>
</tr>
