<tr class="govuk-table__row">
  <th colspan="3" class="govuk-table__header govuk-!-padding-left-0" scope="col">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-5 float-left">
      <%= resource.unique_alias %>
    </h3>
  </th>
  <td class="govuk-table__cell govuk-!-padding-left-0 govuk-!-width-one-quarter" scope="col">
    <p class="govuk-!-margin-top-5 govuk-!-margin-bottom-1 float-right govuk-body">
      <% if valid_action? :show, collection_presenter.resource_name %>
        <%= link_to t('admin.actions.view_details'), polymorphic_path([namespace.to_sym, resource]),
          class: %w[govuk-!-padding-right-2] %>
      <% end %>
    </p>
  </td>
</tr>
<tr>
  <th class="govuk-table__cell govuk-!-padding-left-0 govuk-!-width-one-quarter govuk-body govuk-!-font-weight-bold">
    <%= t('admin.data_elements.dataset') %>
  </td>
  <td colspan="3" data-label="<%= t('admin.data_elements.dataset') %>" class="govuk-table__cell govuk-body">
    <%= resource.dataset %>
  </td>
</tr>
<tr>
  <th class="govuk-table__cell govuk-!-padding-left-0 govuk-!-width-one-quarter govuk-body govuk-!-font-weight-bold">
    <%= t('admin.data_elements.concept') %>
  </td>
  <td colspan="3" data-label="<%= t('admin.data_elements.concept') %>" class="govuk-table__cell govuk-body">
    <%= resource.concept&.name || 'N/A' %>
  </td>
</tr>
<tr>
  <th class="govuk-table__cell govuk-!-padding-left-0 govuk-!-width-one-quarter govuk-body govuk-!-font-weight-bold">
    <%= t('admin.data_elements.datasets') %>
  </td>
  <td colspan="3" data-label="<%= t('admin.data_elements.datasets') %>" class="govuk-table__cell govuk-body">
    <%= resource.datasets.count %>
  </td>
</tr>
