<% content_for(:title) do %>
  Upload Data Elements from an Excel Data Table
<% end %>

<% content_for(:additional_tags) do %>
  <%= stylesheet_pack_tag 'loader' %>
  <%= javascript_pack_tag 'loader' %>
<% end %>

<%= javascript_tag nonce: true do %>
  document.getElementById('file-upload')
  document.body.addEventListener('ajax:send', function(event) {
    document.getElementById('submit-upload').setAttribute('disabled', true)
  })
  document.body.addEventListener('ajax:success', function(event) {
    var detail = event.detail
    var data = detail[0], status = detail[1], xhr = detail[2]

    setTimeout(function() {
      document.querySelector('#form-group').outerHTML = detail[0]
      document.getElementById('submit-upload').removeAttribute('disabled')
    }, 500)
  })
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<fieldset class="govuk-fieldset govuk-!-margin-2" aria-describedby="upload-file-hint upload-file-error" role="group">
  <%= render partial: 'form', locals: { success: success, error: error } %>
</fieldset>

<% if @last_import.present? %>
  <div class="govuk-border-box">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">Last Upload Name:</div>
      <div class="govuk-grid-column-two-thirds"><%= @last_import.file_name %></div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">Last Upload Date:</div>
      <div class="govuk-grid-column-two-thirds"><%= l(@last_import.created_at&.in_time_zone('GB')) %></div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">Last Uploader:</div>
      <div class="govuk-grid-column-two-thirds"><%= @last_import.admin_user&.email %></div>
    </div>
  </div>
<% end %>
