<% content_for(:title) do %>
  <%= t('admin.data_elements.reindex.title') %>
<% end %>
<% content_for(:subtitle) do %>
  <%= t('admin.data_elements.reindex.description') %>
<% end %>

<%= render 'shared/admin/header' %>

<section class="main-content__body main-content__body--flush">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-2">
      <fieldset class="govuk-fieldset govuk-!-margin-top-5" aria-describedby="reindex-hint reindex-error" role="group">
        <div id="form-group" class="govuk-form-group<%= success == false ? ' govuk-form-group--error' : '' %>">
          <%= form_with url: reindex_admin_data_elements_path, method: :post, id: 'reindex-form', data: { remote: false } do |f| %>
            <% if success == false -%>
              <p id="reindex-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              <span class="message"><%= errors.join(', ') %></span>
              </p>
            <% end -%>
            <button type="submit" class="govuk-button" id="submit-reindex">
              <%= t('admin.data_elements.reindex.action') %>
            </button>
          <%- end %>
        </div>
      </fieldset>
    </div>
  </div>
