<% content_for(:title) do %>
  <%= t('admin.data_elements.reindex.title') %>
<% end %>

<header class="main-content__header govuk-!-padding-left-0" role="banner">
  <div class="govuk-row">
    <div class="govuk-column-full">
      <h1 class="main-content__page-title govuk-heading-l" id="page-title">
        <%= content_for(:title) %>
      </h1>
      <p>
      <%= t('admin.data_elements.reindex.description') %>
      </p>
    </div>
  </div>
</header>

<fieldset class="govuk-fieldset govuk-!-margin-top-5" aria-describedby="reindex-hint reindex-error" role="group">
  <div id="form-group" class="govuk-form-group<%= success == false ? ' govuk-form-group--error' : '' %>">
    <%= form_with url: reindex_admin_data_elements_path, method: :post, id: 'reindex-form', data: { remote: false } do |f| %>
      <% if success == false -%>
        <p id="reindex-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>
        <span class="message"><%= error %></span>
        </p>
      <% elsif success -%>
        <p id="reindex-success" class="govuk-inset-text govuk-!-margin-top-0">
          <%= t('admin.data_elements.reindex.success') %>
        </p>
      <% end -%>
      <button type="submit" class="govuk-button" id="submit-reindex">
        <%= t('admin.data_elements.reindex.action') %>
      </button>
    <%- end %>
  </div>
</fieldset>
