<%= content_tag :div, class: 'govuk-grid-row' do %>
  <h3 class="govuk-grid-column-full govuk-heading-m"><%= t('.categories') %></h3>
  <%= render partial: 'category', collection: @category.children,
             locals: { wrap_class: 'govuk-grid-column-one-half govuk-category-card' } %>
<% end unless @category.children.empty? %>

<%= content_tag :div, class: 'govuk-grid-row' do %>
  <h3 class="govuk-grid-column-full govuk-heading-m"><%= t('.concepts') %></h3>
  <%= render partial: 'concept', collection: @category.concepts,
             locals: { wrap_class: 'govuk-grid-column-one-half govuk-category-card' } %>
<% end unless @category.concepts.empty? %>
