<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <%= render 'shared/google_analytics' %>
  <meta charset="utf-8" />
  <title><%= page_title(@title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/favicon.ico?v=2" type="image/x-icon" />
  <link rel="mask-icon" href="/govuk-mask-icon.svg?v=2" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/govuk-apple-touch-icon-180x180.png?v=2">
  <link rel="apple-touch-icon" sizes="167x167" href="/govuk-apple-touch-icon-167x167.png?v=2">
  <link rel="apple-touch-icon" sizes="152x152" href="/govuk-apple-touch-icon-152x152.png?v=2">
  <link rel="apple-touch-icon" href="/govuk-apple-touch-icon.png?v=2">

  <!-- TODO: get asset into webpack -->
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <!-- TODO: <meta property="og:image" content="/assets/images/govuk-opengraph-image.png"> -->

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'basket-modal' %>

  <%= render 'shared/google_tag_header' %>

  <%= yield :additional_tags %>
</head>

<body class="govuk-template__body ">
  <%= render 'shared/google_tag_body' %>
  <%= javascript_tag nonce: true do %>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  <%- end %>

  <div id="skiplink-container">
    <div>
      <a href="#main-content" class="skiplink govuk-skip-link">Skip to main content</a>
    </div>
  </div>
  <!-- <a href="#main-content" class="govuk-skip-link">Skip to main content</a> -->

  <%= render 'shared/cookie_banner' unless cookie_choice_page? %>

  <%= render 'shared/govuk_header' %>

  <div class="govuk-width-container">
    <%= render 'shared/phase_banner' %>
    <%= render 'shared/staging' unless Rails.env.production? %>
    <%= render 'shared/breadcrumbs' %>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <%= yield :messages %>
      <%= render 'shared/header', size: @title_size || 'l' if shared_header? %>
      <%= yield %>
    </main>
  </div>

  <%= render 'shared/govuk_footer' %>
  <%= javascript_pack_tag 'application' %>
</body>

</html>
